*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    color: white;
    animation-name: bg;
    animation-duration: 7s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    
}

.button{
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;

}


.button:hover{
    background-color: white;
    border-radius: 5px;
    color: #000000;
    transition: 0.3s;
}



@keyframes bg {
    0%   {background-color: #0f0f0f;}
    50% {background-color: rgb(0, 21, 46);}
    100%   {background-color: #0f0f0f;}
}

h1{
    font-family: sans-serif;
}

.label{
    font-family: sans-serif;
    margin-right: 10px;
}

.input{
    color: #ffffff;
    font-size: medium;
    font-family: sans-serif;
    padding: 3px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #ffff;
    height: 30px;
}

.link{
    text-decoration: none;
    color: #797979;
    font-style: none;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 40%;
    align-self: center;
    background-color: #2424248e;
    color: #ffffff;
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
}

.text{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.error{
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #dd3e3e;
    border: 1px solid #af0303;
}
.aviso{
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ddcd3e;
    border: 1px solid #af9503;
}
.success{
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #6bdd3e;
    border: 1px solid #34af03;
}