*{
    padding: 0;
    margin: 0;
    
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #0e0e0e, #201a92, #3e13dd);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.text{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-family: sans-serif;
    margin-right: 10px;
}

.input{
    color: #ffffff;
    font-size: medium;
    font-family: sans-serif;
    padding: 3px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #ffff;
    height: 30px;
}

.link{
    text-decoration: none;
    color: #797979;
    font-style: none;
    font-family: sans-serif;
}


.header{
    display: flex;
    font-size: larger;
    width: 100%;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    box-shadow: 1px 7px 0 rgb(0, 7, 199);
}
.content-header{
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.content-header .link{
    text-decoration: none;
    color: white;
    font-style: none;
    font-family: sans-serif;
}
.exit{
    border-radius: 10px;
    padding: 5px;
    background-color: #e62828;
}

.places{
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:  center;
}
.place{
    
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #0e0e0e;
    margin: 10px;
    width: 45%;
    min-height: 200px;
    border-radius: 30px;
    padding: 30px;
    border: 1px solid white;
}
h3{
    text-transform: uppercase;
    font-size: larger;
    font-family: sans-serif;
    margin: 5px auto;
}

.page{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #0e0e0e;
    margin: 30px;
    padding: 30px;
    width: 90%;
    border-radius: 30px;
    border: 1px solid white;
    min-height: fit-content;
    align-items: center;

}

p{
    font-size: medium;
    font-family: sans-serif;
    margin: 5px;
}
.goals{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page ul {
    padding: 10px;
    max-width: fit-content;
}
.page ul li{
    padding: 10px;
    border-bottom: 1px solid #272727;
}

.button{
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;

}

.button:hover{
    background-color: white;
    border-radius: 5px;
    color: #000000;
    transition: 0.3s;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }